<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Monitor 小狗睡觉</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

    <div class="container-fluid h-100vh">
        <div class="row max-height-vh-100">
            <div class="col-12 col-md-6 d-flex justify-content-center p-0">
                <div class="d-flex align-items-center h-100">
                    <img id="video" src="{{ url_for('video_feed') }}" class="img-fluid video-stretch" alt="Video Stream">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center flex-column">
                <div class="row text-center mt-md-3 py-md-0 py-3">
                    <div class="col-auto">
                        <button id="day_cam" type="button" class="btn btn-primary btn-sm">Day (白天)</button>
                    </div>
                    <div class="col-auto">
                        <button id="night_cam" type="button" class="btn btn-primary btn-sm">Night (低光)</button>
                    </div>
                    <div class="col-auto">
                        <button id="toggle_flash" type="button" class="btn btn-primary btn-sm">Light (开关灯)</button>
                    </div>
                </div>
                <div class="row text-center mt-md-3 py-md-0 py-3">
                    <div class="col-auto">
                        <button id="save_positive_sample" type="button" class="btn btn-primary btn-sm">Positive sample (有狗拍照)</button>
                        <button id="save_negative_sample" type="button" class="btn btn-primary btn-sm">Negative sample (无狗拍照)</button>
                    </div>
                </div>

                <div class="row text-center mt-md-3 py-md-0 py-3" id="label-container">
                    <div id="prediction-alert" class="alert" role="alert" style="display:none;"></div>
                </div>

                <div class="row text-center">
                    <div id="sleep-grid" class="col-12 mw-100">
                    </div>
                </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>

</body>

<script>
    function switchCamera(command) {
        fetch('/switch_camera', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'command=' + command
        });
    }


    // long polling, also known as Comet, which involves sending a request to the server and holding the connection open until the server has new data to send back.
    function updateMovingStatus() {
    fetch('/moving_status')
        .then(response => response.json())
        .then(data => {
            // print the JSON response in the console first
            // console.log(data);
            if (data.is_moving) {
                document.body.style.backgroundColor = 'red';
            } else {
                document.body.style.backgroundColor = 'white';
            }
            // wait for new data before sending another request
            setTimeout(updateMovingStatus, 5000);
        })
        .catch(error => {
            console.error('Error fetching moving status:', error);
            // wait before retrying
            setTimeout(updateMovingStatus, 5000);
        });
    }

    const baby_in_crib_model_URL = "https://teachablemachine.withgoogle.com/models/ymtMcf5bM/";
    // Class 0 = Baby in crib
    // Class 1 = Baby not in crib
    
    let crib_model, crib_image, labelContainer, maxPredictions;

    async function init_crib_model() {
        const modelURL = baby_in_crib_model_URL + "model.json";
        const metadataURL = baby_in_crib_model_URL + "metadata.json";

        crib_model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = crib_model.getTotalClasses();

        crib_image = document.getElementById("video");

        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) {
            labelContainer.appendChild(document.createElement("div"));
        }

        // Start prediction loop
        // window.requestAnimationFrame(loop);
        loop();
    }

    async function loop() {
        await predict();
        // window.requestAnimationFrame(loop);
        // instead of looping, wait for 5 seconds before predicting again
        setTimeout(loop, 5000);
    }

    // async function predict() {
    //     const prediction = await crib_model.predict(crib_image);
    //     for (let i = 0; i < maxPredictions; i++) {
    //         const classPrediction =
    //             prediction[i].className + ": " + prediction[i].probability.toFixed(2);
    //         labelContainer.childNodes[i].innerHTML = classPrediction;
    //     }
    // }

    async function predict() {
        // predict can take in an image, video or canvas html element
        const prediction = await crib_model.predict(crib_image);

        let inCrib = false;
        let inCribProbability = 0;

        for (let i = 0; i < maxPredictions; i++) {
            if (prediction[i].className === "Class 1") {
                inCribProbability = prediction[i].probability;
                if (inCribProbability > 0.75) {
                    inCrib = true;
                }
                break;
            }
        }

        const predictionAlert = document.getElementById("prediction-alert");

        if (inCrib) {
            predictionAlert.innerHTML = "Baby in the crib";
            predictionAlert.className = "alert alert-success";
        } else {
            predictionAlert.innerHTML = "Baby not in the crib";
            predictionAlert.className = "alert alert-danger";
        }

        predictionAlert.style.display = "block";
    }


    function drawSleepGrid(data) {
        // Get the width of the sleep-grid-row div
        const rowWidth = document.getElementById('sleep-grid').offsetWidth;
        console.log('rowWidth', rowWidth);

        // Define the dimensions of the grid
        //The divisor (24 hours * 12) splits a day into 5 minutes cells, control the width of each cell
        const gridWidth = Math.floor(rowWidth / 24 * 12); 
        const gridHeight = 5 * gridWidth;

        // Define the dimensions of the SVG container
        const width = rowWidth;
        const height = 400;

        // Define the colors for sleep and awake states
        const sleepColor = '#79A9D1';
        const awakeColor = '#7d8ca3';

        // Create the SVG container
        const svg = d3.select('#sleep-grid')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        // Create the sleep grid
        svg.selectAll('rect')
            .data(data)
            .join('rect')
            .attr('x', (d, i) => (i % gridWidth) * (width / gridWidth))
            .attr('y', (d, i) => Math.floor(i / gridWidth) * (height / gridHeight))
            .attr('width', width / gridWidth)
            .attr('height', height / gridHeight)
            .attr('fill', d => d ? sleepColor : awakeColor);
    }

    // Example data (replace with your actual data)
    const exampleData = Array(400).fill().map((_, i) => i % 2);


    document.addEventListener('DOMContentLoaded', function() {

        // setTimeout(function() {
            // updateMovingStatus();
            // console.log('Called updateMovingStatus after a short delay');
        // }, 2000);

        init_crib_model();

        document.getElementById('day_cam').addEventListener('click', function() { switchCamera("day_cam"); });
        document.getElementById('night_cam').addEventListener('click', function() { switchCamera("night_cam"); });
        document.getElementById('toggle_flash').addEventListener('click', function() { switchCamera("toggle_flash"); });
        document.getElementById('save_positive_sample').addEventListener('click', function() { switchCamera("save_positive_sample"); });
        document.getElementById('save_negative_sample').addEventListener('click', function() { switchCamera("save_negative_sample"); });

    });

    // Add the window.onload event listener
    // window.addEventListener('load', function() {
    //     setTimeout(function() {
    //         drawSleepGrid(exampleData);
    //     }, 1000);
    // });

</script>

<style>
    .video-stretch {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
    }

    .max-height-vh-100 {
        max-height: 100vh;
    }
</style>

</html>
